*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    font-size: 3em;
    color: aliceblue;

}

h2{
    font-size: 2em;
    color: aliceblue;
}

h3{
    font-size: 1em;
    color: aliceblue;
}

.container{
    display: grid;
    justify-content: center;
}


.btnContainer{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1rem;
}

.btn{
    background-color: rgb(104, 104, 104);
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    color: aliceblue;

}

.btnResult{
    margin-top: 10vh;
    background-color: rgb(104, 104, 104);
    border-radius: 5px;
    height: 2rem;
    color: aliceblue;
}

.choice{
    margin-top: 1rem;
    text-align: center;
}

.result{
    margin-top: 3rem;
    text-align: center;
    
}

.scoreBoard{
    margin-top: 2rem;
}
.score{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    font-size: 25px;
    gap: 1rem;
}